body {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #ffffff;
}

section.module.parallax h1 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  z-index: 100;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.main {
  display: block;
  background-color: white;
}

.container {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}

section.module p {
  margin-bottom: 40px;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  color: #000;
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content {
  padding: 40px 0;
  background: #ece7d5;
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 25;
  background: -o-linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0) 30%,
    #dbdbdb 100%
  );
  background: -moz-linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0) 30%,
    #dbdbdb 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0) 30%,
    #dbdbdb 100%
  );
  opacity: 0.3;
}

section.module.parallax-1 {
  background-image: url(https://i.pinimg.com/originals/03/06/fc/0306fc0b350a052f5fd9504fdd6044cb.jpg);
}

section.module.parallax-2 {
  background-image: url(https://wallpapers.com/images/hd/4k-earth-overcast-planet-5go4pukq2go4shxz.jpg);
}

section.module.parallax-3 {
  background-image: url(https://www.10wallpaper.com/wallpaper/3840x2400/1803/Astronaut_stars_space_galaxy_4K_HD_3840x2400.jpg);
}

.back2top {
  position: fixed;
  bottom: 10px;
  right: 50px;
  background: black;
  border-radius: 10px;
}
.back2top p {
  color: white;
  margin: 0;
  padding: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
